h1 {
  top: 150px;
  left: 270px;
   position: absolute;
   color: white;
   font-family: Arial, Helvetica, sans-serif;
}

#myBtn {
  position: absolute;
  top: 500px;
  left: 250px;
  size: 800px;
}

#myBtn2 {
  position: absolute;
  top: 500px;
  right: 250px;
}

#myBtn3 {
  position: absolute;
  top: 600px;
  right: 250px;
}

#madeby {
  color: white;
  top: 550;
  left: 540px;
  position: absolute;
}
