#image{
  position: absolute;
  left: 450px;
}

#myBtn{
    top: 550px;
    left: 350px;
    font-size: 20px;
  }

#myBtn2{
    top: 750px;
    left: 350px;
    font-size: 20px;
}

h1 {
  color:  #FFFFFF;
}
