#image{
  position: absolute;
  left: 35%;
  top: 50px;
}

#Halo{
  position : absolute;
  left: 30%
  top: 5px;
}

#myBtn{
    top: 550px;
    left: 350px;
    font-size: 20px;
}

#myBtn2{
    top: 750px;
    left: 350px;
    font-size: 20px;
}

#madeby{
  top: 100px;
  color: white;
}
