#image{
  position: absolute;
  left: 50%;
  top: 100px;
}

#Halo{
  position: absolute;
  left: 50%;
  top: 5px;
}

#myBtn{
    top: 550px;
    left: 350px;
    font-size: 20px;
  }

#myBtn2{
    top: 750px;
    left: 350px;
    font-size: 20px;
}

#madeby{
  top: 100px;
}
